@use "../responsive.scss" as responsive;
:host {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #eaeaea;
  position: relative;
  top: -23vw;

  @include responsive.for-size(MediumMin) {
    grid-template-columns: 1fr 1fr;
  }
  @include responsive.for-size(XLarge) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
