<svg
  id="parent-svg"
  viewBox="0 0 3000 2000"
  xmlns="http://www.w3.org/2000/svg"
  fill="#676767"
>
  <svg class="milldrew-park"></svg>
  <svg
    x="2000"
    y="680"
    id="cloud-three-svg"
    slideOntoScreen
    [stopLocation]="4000"
    [duration]="60000"
    elementId="cloud-three-svg"
    class="milldrew-cloud"
    [isContinuous]="true"
  ></svg>
  <svg
    x="300"
    y="650"
    id="cloud-one-svg"
    slideOntoScreen
    [stopLocation]="4000"
    [duration]="90000"
    elementId="cloud-one-svg"
    class="milldrew-cloud"
    [isContinuous]="true"
  ></svg>
  <svg
    x="800"
    y="620"
    id="cloud-two-svg"
    slideOntoScreen
    [stopLocation]="5000"
    [duration]="109000"
    elementId="cloud-two-svg"
    class="milldrew-cloud"
    [isContinuous]="true"
  ></svg>
  <svg
    id="sign-svg"
    slideOntoScreen
    elementId="sign-svg"
    [duration]="8000"
    x="3000"
    y="800"
    class="milldrew-sign"
    [stopLocation]="500"
    [isContinuous]="false"
  ></svg>
</svg>
